@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 0 6px 23px;
  position: relative;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.hamburger {
  font-size: 1.938rem;
  font-weight: 700;
}

.nav-logo {
  width: 8.125rem;
  height: 3.188rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
